<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Affecto.AuthenticationServer.Plugins.Infrastructure" version="1.0.0-prerelease03" targetFramework="net461" />
  <package id="Affecto.Testing.Configuration" version="1.0.0" targetFramework="net45" />
  <package id="Autofac" version="3.5.2" targetFramework="net461" />
  <package id="IdentityServer3" version="2.5.0" targetFramework="net46" />
  <package id="Owin" version="1.0" targetFramework="net46" />
</packages>